<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let data of datas){ %>
        <div>
            <% if(data.isReturned == "pending"){ %> 
            <%=data.userName%>
            <%= data.stockOutProductModel %>
            <%= data.stockOutProduct %>
            <%= data.dateOfStockOut %>
            <%= data.expectedDateOfReturn %>
            

                <form action="/stocks/returned/<%=data._id%>" method="post">
                    <button>Stock Returned</button>
                </form>
                <form action="/stocks/lost/<%=data._id%>" method="post">
                    <button>Stock damaged/Lost</button>
                </form>
               
            
        </div>
        <% } %>  
        <br>   
            <% } %>
</body>
</html>