<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/employees/<%=data._id%>/editEmployee?_method=put" method="post">
        <label for="employeeEmail">Email</label>
        <input type="email" name="employeeEmail" id="employeeEmail" value="<%= data.employeeEmail %> ">
        <label for="employeeName">Username</label>
        <input type="text" name="employeeName" id="employeeName" value="<%= data.employeeName %> " >
        <label for="employeeAddress">Address</label>
        <input type="text" name="employeeAddress" id="employeeAddress" value="<%= data.employeeAddress %> ">
        <label for="employeePhoneNumber">Phone Number</label>
        <input type="text" name="employeePhoneNumber" id="employeePhoneNumber" value="<%= data.employeePhoneNumber %> ">
        <label for="employeePosition">Employee position</label>
        <input type="text" name="employeePosition" id="employeePosition" value="<%= data.employeePosition%> ">
      <button type="submit">Edit Employee</button>
    </form>
</body>
</html>