<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <% for(let datas of data){ %>
<div>
    <p>product model : <%=datas.productModel %> </p>
    <p>product type: <%=datas.productType %> </p>
    <p>product serial number : <%=datas.productSerialNumber %> </p>
    <hr>
    <form action="/showproduct/<%=datas._id%>?_method=delete" method="post">
        <button>delete product</button>
    </form>
    <a href="/showproduct/<%=datas._id%>">Edit</a>
</div>      


    <% } %> 
</body>
</html>